.DS_Store

node_modules/

builds/

# Xcode user and build data
xcuserdata/
DerivedData/
*.xcuserstate

dictionaries/

/test-results/
/playwright-report/
/playwright/.cache/
/test/playwright/__screenshots__/

ext/manifest.json

ext/lib/*
